@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
<<<<<<< Updated upstream
    <h1 class="display-4">Welcome</h1>
    <canvas id="myCanvas" width="200" height="100" style="border:1px solid #000000;"></canvas>
=======
    <h1 class="display-4">Welcome Boggle</h1>
    <h2 class="display-4">Press Start to Begin Boggling!</h2>
    <a id="startLink" asp-page="/GamePage"/><button id="Start">START</button></a><!--Redirect to game page-->
    <p></p>
>>>>>>> Stashed changes
</div>
