@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <canvas id="myCanvas" width="200" height="100" style="border:1px solid #000000;"></canvas>
</div>
