@page
@model FinalProject.Pages.ResultsModel
@{
}
<html>
<head>
    <script src="/js/signalr/dist/browser/signalr.js"></script>
</head>

<style>
    table, th, td {
        border: 1px solid black;
    }
</style>

<body> 
    <center>
        <div id="table">
            <table>
                <tr>
                    <th id="user1Score">Player 1 Score: </th>
                    <td id="user1Words">Player 1 Words: </td>
                </tr>
                <tr>
                    <th id="user2Score">Player 2 Score: </th>
                    <td id="user2Words">Player 2 Words: </td>
                </tr>
            </table>
        </div>
        </br>
        </br>
        <h1 id="winner"></h1>
        </br></br></br></br></br>
        <input type="button" value="New Game" onclick="Reset()" />
    </center>
    @*<a  asp-area="" asp-page="/Index">Homepage(reset)</a>*@
</body>
</html>

@section Scripts{
    <script>
        var connection = new signalR.HubConnectionBuilder().withUrl("/chatHub").build();

        connection.start().then(function () {
            connection.invoke("GameOver");
        }).catch(function (err) {
            return console.error(err.toString());
        });
    </script>

    <script>
        connection.on("DisplayScores", function (user1Score, user2Score, user1Words, user2Words) {
            document.getElementById("user1Score").innerHTML = "Player 1 Score: " + user1Score;
            document.getElementById("user2Score").innerHTML = "Player 2 Score: " + user2Score;
            document.getElementById("user1Words").innerHTML = "Player 1 Words: " + user1Words.join(", ");
            document.getElementById("user2Words").innerHTML = "Player 2 Words: " + user2Words.join(", ");

            if (user1Score > user2Score) {
                document.getElementById("winner").innerHTML = "Player 1 is the Winner!";
            }
            else {
                document.getElementById("winner").innerHTML = "Player 2 is the Winner!";
            }
        @*document.getElementById("grid").style.display = "none";*@
        @*for (i = 0; i < user1Words.length; i++) {
            alert(user1Words[i]);
        }*@
    });
    </script>

    <script>
        function Reset() {
            connection.invoke("ResetGame");
            document.location = document.location.host;
        }
    </script>

    <script>
        connection.on("NewGame", function() {

            location.href = '/Index';

        })
    </script>
}